<div class="background">
    <button (click)="goPRoyectos();" id="close">X</button>
    <h2 class="text-center titulo">RESTAURANTE WEB</h2>
    <ng-container *ngIf="parrafos" class="row container">
        <div class="card-body">
            <div class="col-md-8 mx-auto">
                <div class="card mt-3">
                    <div class="card-body d-flex align-items-center">
                        <p class="lead card-text">En este breve resumen, voy a contarles cómo fue el proceso de crear mi portafolio web, que es una muestra de mis habilidades y proyectos como programador. No fue fácil, tuve que enfrentar varios desafíos y tomar decisiones creativas para lograr un resultado que me satisficiera. Estos son algunos de los aspectos más importantes que tuve en cuenta:</p>   
                    </div>
                </div>
                <div *ngFor="let parrafo of parrafos"  class="col-md-12 mx-auto">
                    <div class="card mb-3 mt-3">
                        <div class="card-body">
                            <h5 class="card-title">{{parrafo.title}}</h5>
                            <p class="card-text lead">{{parrafo.subtitle}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>