<div class="row ">  

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center"><circle-progress 
     [percent]="95"
     [radius]="100"
     [outerStrokeWidth]="16"
     [innerStrokeWidth]="8"
     [outerStrokeColor]="'#F1502F'"
     [innerStrokeColor]="'#FFCC99'"
     [animation]="true"
     [animationDuration]="1000"
     [showTitle]="true"
     [title]="'GIT'"
     [showUnits]="false"
     [showSubtitle]="false"
     [titleColor]="'white'"
     [titleFontWeight]="'700'"
    ></circle-progress></div>
   
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center"><circle-progress 
     [percent]="100"
     [radius]="100"
     [outerStrokeWidth]="16"
     [innerStrokeWidth]="8"
     [outerStrokeColor]="'#1A73E8'"
     [innerStrokeColor]="'#90CAF9'"
     [animation]="true"
     [animationDuration]="1000"
     [showTitle]="true"
     [title]="'BOXICONS'"
     [showUnits]="false"
     [showSubtitle]="false"
     [titleColor]="'white'"
     [titleFontWeight]="'700'"
    ></circle-progress></div>
   
    
   </div>
   