<div class="background">
    <button (click)="goPRoyectos();" id="close">X</button>
    <h2 class="text-center titulo">MI PORTAFOLIO PERSONAL</h2>
    <div class="container">
        <div class="row">
            <div class="card m-3 col-md-9">
                <div class="d-flex">
                    <div class="col-md-6">
                        <p class="lead p-3 ">En este breve resumen, voy a contarles cómo fue el proceso de crear mi portafolio web,
                            que es una
                            muestra de
                            mis habilidades y proyectos como programador. No fue fácil, tuve que enfrentar varios desafíos y tomar
                            decisiones
                            creativas para lograr un resultado que me satisficiera. Estos son algunos de los aspectos más
                            importantes que tuve
                            en cuenta:
                        </p>
                    </div>
                    <div class="col-md-6 m-3"><img src="../../../../assets/Portafolio FDB.png" alt="imagen del portafolio terminado"></div>
            
                </div>
            </div>

            <div class="m-3 card col-md-9 ">
                <div class="d-flex">
                    <div class=" col-md-6">
                        <p class="lead p-3">- El encabezado: quería que fuera original y dinámico, así que decidí colocar los botones de
                            navegación en
                            posiciones
                            aleatorias en cada sección de mi página. Así, el usuario tiene que buscarlos y se sorprende con cada cambio.
                            Creo que
                            esto le da un toque divertido y diferente a mi portafolio.</p>
                    </div>
                    <div class="col-md-6 m-3">
                        <img class="mb-3" src="../../../../assets/header.png" alt="imagen del portafolio terminado">
                        <img src="../../../../assets/headerMV.png" alt="imagen del portafolio terminado"></div>
            
                </div>
            </div>

            

            <p class="lead mt-3">
                - El nombre: quería que fuera visible y llamativo, así que lo escribí en letras grandes y con un efecto de
                sombra. Me
                inspiré en una página web que vi hace tiempo, pero no recuerdo cuál era. Me gustó cómo quedó porque creo que
                refleja mi
                personalidad y mi estilo.</p>
            <p class="lead mt-3">
                - La sección "sobre mí": quería que fuera informativa y personal, así que incluí una frase que resume mis
                objetivos y mi
                actitud, además de mis datos personales, mis redes sociales y mi CV. Así, el usuario puede conocerme mejor y
                contactarme
                si le interesa mi trabajo.
            <p class="lead mt-3">
                - La sección "habilidades": quería que fuera visual y atractiva, así que usé unas barras circulares para
                mostrar mi
                nivel de dominio en diferentes lenguajes y herramientas de programación. Las barras las encontré en una
                página donde se
                pueden instalar los "ng circle progress", que me parecieron muy útiles y bonitos.</p>
            <p class="lead mt-3">
                - La sección "proyectos": quería que fuera ilustrativa y variada, así que mostré algunos de mis proyectos
                más
                destacados, con una breve descripción y un enlace para verlos en detalle. Tengo pensado agregar más
                proyectos en el
                futuro, para mostrar la diversidad de mi trabajo.</p>
            <p class="lead mt-3">
                - La adaptación a dispositivos móviles: quería que fuera funcional y cómoda, así que ajusté el diseño y el
                tamaño de los
                elementos para que se vieran bien en pantallas pequeñas. Espero que haya quedado perfecto así como está.</p>
            <p class="lead mt-3">
                Cosas que no agregué: tenía la idea de hacer un pie de página (footer) que se mostrara en todas las
                secciones, pero lo
                descarté porque me pareció innecesario y redundante. También pensé en hacer que el pie de página cambiara
                según la
                sección, pero lo descarté por la misma razón.</p>
            <p class="lead mt-3">
                Ideas geniales por hacer: tengo en mente hacer una sección para que los posibles clientes como tú puedan
                escribirme a mi
                correo de forma fácil. También me gustaría hacer un inicio de sesión, para que puedas usar esta página web
                como una
                plantilla para tu CV personal. Y por último, me gustaría agregar animaciones, pero necesito investigar bien
                cómo hacerlo
                y si funciona bien.</p>

        </div>
    </div>
</div>

