<div class="container">
    <div class="row col-12 justify-content-around descripcion1">
        <div class="col-lg-6 col-sm-12 offset-sm-start-3 text-center">
            <h4 class="subtitulo1 ">Información Personal</h4>
            <p class=info>Edad: 22</p>
            <p class=info>Nacionalidad: Argentina</p>
            <p class=info>Estado Civil: Casado con Jime</p>
            <p class=info>Lugar de residencia: Mendoza</p>
        </div>
        <div class="col-lg-6 col-sm-12 offset-sm-end-3 text-center">
            <h4 class="subtitulo1 ">Información Contacto</h4>
            <p class=info>Telefono: +54 9 261 3836127 </p>
            <p class=info>Correo electrónico: <a href=mailto:fedebarzola7@gmail.com>fedebarzola7@gmail.com</a> </p>
            <p class=info>DNI: 42 863 800</p>
        </div>
    </div>
</div>




<div class="row ">
    <div class=" ">

    </div>
    <div class=" ">

    </div>