.background{
    border-radius: 20px;
    overflow-y: scroll;
  }

.titulo {
    padding-top: 1%;
    user-select: none;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #FFF
}
.lead{
    font-size: 18px;
    font-weight: 700;
    color: black
}
img{
    width: 260px;
    height: 190px;
}