<div class="background">
    <button (click)="goPRoyectos();" id="close">X</button>
    <h2 class="text-center titulo">ADMINISTRACIÓN DE ARTÍCULOS</h2>
    <ng-container *ngIf="parrafos" class="row container">
        <div class="card-body">
            <div class="col-md-8 mx-auto">
                <div class="card mt-3">
                    <div class="card-body d-flex align-items-center">
                        <p class="lead card-text"> Estoy muy emocionado de compartir con ustedes mi proyecto de administración de artículos. En este proyecto, utilicé Angular como framework para crear una aplicación web dinámica y moderna. Les contaré un poco sobre el proceso que seguí para desarrollar esta aplicación.</p>   
                    </div>
                </div>
                <div *ngFor="let parrafo of parrafos"  class="col-md-12 mx-auto">
                    <div class="card mb-3 mt-3">
                        <div class="card-body">
                            <h5 class="card-title">{{parrafo.title}}</h5>
                            <p class="card-text lead">{{parrafo.subtitle}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>