.background {
    background-size: contain;
    background-position: center;
    z-index: -1;
    overflow:hidden;
    border: solid red 4px;
    background-color: rgb(22, 22, 22);
    border-radius: 20px;
    position: absolute;
    width: 95%;
    height: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
}

.titulo {
    padding-top: 1%;
    user-select: none;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #FFF
}
.lead{
    font-size: 18px;
    font-weight: 700;
    color: black
}

button {
    user-select: none;
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center
}

button:hover {
    cursor: pointer;
    border-radius: 10px;
}

button:focus {
    text-decoration: none;
    outline: none
}

#close{
    position: absolute;
    top: 10px;
    right: 10px;
}

#close:hover{
    background-color: red;
}

img{
    width: 260px;
    height: 190px;
}


::-webkit-scrollbar {
    width: 10px;
  }
  

  ::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 10px; 
  }
  

  ::-webkit-scrollbar-thumb {
    background: #4b444480; 
    border-radius: 10px; 
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #cc3a3a; 
  }

  @media (max-width: 768px){
    .background{
        overflow-y: scroll;
        width: 85vw;
        height: 85vh;
    }
  }
  