<div class=" background">
    <div class="row">
        <div class="col-12 d-flex flex-column align-items-center">
            <button (click)="btnClick();" class="boton1 boton">SOBRE MI</button>
            <button (click)="btnClick2();" class="boton2 boton ">HABIDADES</button>
            <button (click)="btnClick3();" class="boton3 boton">PROYECTOS</button>
            <button (click)="btnClick5();" class="boton5 boton">HISTORIA ACADEMICA</button>
            <button aria-label="Abrir menú" (click)="btnClick4();" class="boton4 boton">☰</button>
            <button (click)="btnClick6();" class="boton6 boton">CONTACTAME</button>
        </div>
    </div>
    <app-name></app-name>
</div>

