.background {
    background-size: contain;
    background-position: center;
    height: 98.7vh;
    background-color: black;
    width: 100%;
    overflow:hidden;
    z-index: 1;
    
}

button {
    user-select: none;
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center
}

button:hover {
    cursor: pointer;
    border-radius: 10px;
    transform: scale(1.1);
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #CE5937, 0 0 30px #CE5937, 0 0 40px #CE5937, 0 0 55px #CE5937, 0 0 75px #CE5937, 2px 2px 2px rgba(206, 89, 55, 0)
}

button:focus {
    outline-color: invert;
}

.boton{
    z-index: 2;
    position: absolute;
    padding: 5px 10px;
    
}

.boton1{
    left: 46%;
    top: 21%;
}

.boton2{
    left: 25%;
    top: 32%;
}

.boton3{
    left: 65%;
    top: 25%;
}

.boton5{
    left: 65%;
    bottom: 25%;
}



.boton6{
    right: 65%;
    bottom: 25%;
}


.boton4{
    display: none;
}



@media (max-width: 768px) {
    .boton1,
    .boton2,
    .boton3,
    .boton5,
    .boton6{
        display: none;
    }
    .boton4{
        display: block;
        position: absolute;
        left: 20px;
        top: 0;
        width: 48px;
        height: 48px;
        font-size: 2rem;
        font-weight: 700;
        color: white;
    }
  }