<div class=" background">
    <div class="row">
        <div class="col-12 d-flex flex-column align-items-center">
            <button (click)="btnClick();" class="boton1 boton">SOBRE MI</button>
            <button (click)="btnClick2();" class="boton2 boton ">HABIDADES</button>
            <button (click)="btnClick3();" class="boton3 boton">PROYECTOS</button>
            <button (click)="btnClick5();" class="boton5 boton">HISTORIA ACADEMICA</button>
            <button (click)="btnClick4();" class="boton4 boton">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAA0CAYAAADFeBvrAAAAAXNSR0IArs4c6QAAASJJREFUaEPtWMERwjAMszZhBEagmzACbMAGrNBNgA1gg24Sjh+vxrFTu5dT3pFlSc7VV8hgB4PpEQrae6JMiAkFO8CRCza8mY4JNVsWDGBCwYY301UTKqUcReTeXHkjAIBprbRG0ElEHhv111wWwGrPFNRsaWdAj4QOInLu3Je5HICb6w2ZmZOA1TeU1JeZloLM1gUBmVCQ0WaaakLBq88VwNusRqT+G6uUErn6TACeFPTngGbkhksocvWZASybjpyneAa2OnIZTXk4KcjjXgSWCUW47OGoJtRh9fkAuHiabMFqBHk/rC8Avxohh4IMNu8uIe/qswCYDUaYINWRM1VNBFFQovkqaiaksinxEhNKNF9FzYRUNiVeYkKJ5quoh0voC7xTRjUoPpeoAAAAAElFTkSuQmCC"/>
            </button>
        </div>
    </div>
    <app-name></app-name>
</div>

