<div class="container align-items-center text-center">
    <div class="flex-column">
        <button class="btn " routerLink="lenguajes">
            <h1 class="text-center display-4"> LENGUAJES |</h1>
        </button>
        <button class="btn " routerLink="biblioteca-flameworks">
            <h1 class="text-center display-4"> BIBLIOTECAS Y FLAMEWORKS |</h1>
        </button>
        <button class="btn " routerLink="herramientas">
            <h1 class="text-center display-4"> HERRAMIENTAS |</h1>
        </button>
        <button class="btn " routerLink="metodologias">
            <h1 class="text-center display-4"> METODOLOGÍAS</h1>
        </button>
    </div>
</div>
   
<router-outlet></router-outlet>