<div class="row ">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center" ><circle-progress
   [percent]="95"
   [radius]="100"
   [outerStrokeWidth]="16"
   [innerStrokeWidth]="8"
   [outerStrokeColor]="'#FFA500'"
   [innerStrokeColor]="'#FFC966'"
   [animation]="true"
   [animationDuration]="1000"
   [showTitle]="true"
   [title]="'HTML'"
   [showUnits]="false"
   [showSubtitle]="false"
   [titleColor]="'white'"
   [titleFontWeight]="'700'"
   []
 ></circle-progress></div>
 
 <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center"><circle-progress
   [percent]="87"
   [radius]="100"
   [outerStrokeWidth]="16"
   [innerStrokeWidth]="8"
   [outerStrokeColor]="'#2965F1'"
   [innerStrokeColor]="'#7FAEFF'"
   [animation]="true"
   [animationDuration]="1000"
   [showTitle]="true"
   [title]="'CSS'"
   [showUnits]="false"
   [showSubtitle]="false"
   [titleColor]="'white'"
   [titleFontWeight]="'700'"
 ></circle-progress></div>
 
 <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center"><circle-progress 
   [percent]="60"
   [radius]="100"
   [outerStrokeWidth]="16"
   [innerStrokeWidth]="8"
   [outerStrokeColor]="'#F7DF1E'"
   [innerStrokeColor]="'#FFF9B3'"
   [animation]="true"
   [animationDuration]="1000"
   [showTitle]="true"
   [title]="'JAVASCRIPT'"
   [showUnits]="false"
   [showSubtitle]="false"
   [titleColor]="'white'"
   [titleFontWeight]="'700'"
 ></circle-progress></div>
 
 <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center"><circle-progress 
   [percent]="54"
   [radius]="100"
   [outerStrokeWidth]="16"
   [innerStrokeWidth]="8"
   [outerStrokeColor]="'#3178C6'"
   [innerStrokeColor]="'#9ACBFF'"
   [animation]="true"
   [animationDuration]="1000"
   [showTitle]="true"
   [title]="'TYPESCRIPT'"
   [showUnits]="false"
   [showSubtitle]="false"
   [titleColor]="'white'"
   [titleFontWeight]="'700'"
 ></circle-progress></div>
 
 <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center"><circle-progress 
   [percent]="57"
   [radius]="100"
   [outerStrokeWidth]="16"
   [innerStrokeWidth]="8"
   [outerStrokeColor]="'#DD0031'"
   [innerStrokeColor]="'#FF8A9A'"
   [animation]="true"
   [animationDuration]="1000"
   [showTitle]="true"
   [title]="'ANGULAR-CLI'"
   [showUnits]="false"
   [showSubtitle]="false"
   [titleColor]="'white'"
   [titleFontWeight]="'700'"
 ></circle-progress></div>
 </div>