<h1 class="text-center display-4">LENGUAJES</h1>

<div class="row ">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center"><circle-progress
 [percent]="95"
 [radius]="100"
 [outerStrokeWidth]="16"
 [innerStrokeWidth]="8"
 [outerStrokeColor]="'#FFA500'"
 [innerStrokeColor]="'#FFC966'"
 [animation]="true"
 [animationDuration]="1000"
 [showTitle]="true"
 [title]="'HTML'"
 [showUnits]="false"
 [showSubtitle]="false"
 [titleColor]="'white'"
 [titleFontWeight]="'700'"
></circle-progress></div>

<div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center"><circle-progress
 [percent]="87"
 [radius]="100"
 [outerStrokeWidth]="16"
 [innerStrokeWidth]="8"
 [outerStrokeColor]="'#2965F1'"
 [innerStrokeColor]="'#7FAEFF'"
 [animation]="true"
 [animationDuration]="1000"
 [showTitle]="true"
 [title]="'CSS'"
 [showUnits]="false"
 [showSubtitle]="false"
 [titleColor]="'white'"
 [titleFontWeight]="'700'"
></circle-progress></div>

<div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center"><circle-progress 
 [percent]="60"
 [radius]="100"
 [outerStrokeWidth]="16"
 [innerStrokeWidth]="8"
 [outerStrokeColor]="'#F7DF1E'"
 [innerStrokeColor]="'#FFF9B3'"
 [animation]="true"
 [animationDuration]="1000"
 [showTitle]="true"
 [title]="'JAVASCRIPT'"
 [showUnits]="false"
 [showSubtitle]="false"
 [titleColor]="'white'"
 [titleFontWeight]="'700'"
></circle-progress></div>

<div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center"><circle-progress 
 [percent]="32"
 [radius]="100"
 [outerStrokeWidth]="16"
 [innerStrokeWidth]="8"
 [outerStrokeColor]="'#3178C6'"
 [innerStrokeColor]="'#9ACBFF'"
 [animation]="true"
 [animationDuration]="1000"
 [showTitle]="true"
 [title]="'TYPESCRIPT'"
 [showUnits]="false"
 [showSubtitle]="false"
 [titleColor]="'white'"
 [titleFontWeight]="'700'"
></circle-progress></div>

<div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center"><circle-progress 
  [percent]="44"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#3178C6'"
  [innerStrokeColor]="'red'"
  [animation]="true"
  [animationDuration]="1000"
  [showTitle]="true"
  [title]="'INGLES'"
  [showUnits]="false"
  [showSubtitle]="false"
  [titleColor]="'white'"
  [titleFontWeight]="'700'"
 ></circle-progress></div>

 
</div>

<h1 class="text-center display-4">BIBLIOTECAS Y FLAMEWORKS</h1>

<div class="row ">  


<div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center"><circle-progress 
 [percent]="57"
 [radius]="100"
 [outerStrokeWidth]="16"
 [innerStrokeWidth]="8"
 [outerStrokeColor]="'#DD0031'"
 [innerStrokeColor]="'#FF8A9A'"
 [animation]="true"
 [animationDuration]="1000"
 [showTitle]="true"
 [title]="'ANGULAR-CLI'"
 [showUnits]="false"
 [showSubtitle]="false"
 [titleColor]="'white'"
 [titleFontWeight]="'700'"
></circle-progress></div>

<div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center"><circle-progress 
  [percent]="57"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#602C50'"
  [innerStrokeColor]="'#c865c8'"
  [animation]="true"
  [animationDuration]="1000"
  [showTitle]="true"
  [title]="'BOOTSTRAP'"
  [showUnits]="false"
  [showSubtitle]="false"
  [titleColor]="'white'"
  [titleFontWeight]="'700'"
 ></circle-progress></div>

 
</div>

<h1 class="text-center display-4">HERRAMIENTAS</h1>

<div class="row ">  

 <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center"><circle-progress 
  [percent]="95"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#F1502F'"
  [innerStrokeColor]="'#FFCC99'"
  [animation]="true"
  [animationDuration]="1000"
  [showTitle]="true"
  [title]="'GIT'"
  [showUnits]="false"
  [showSubtitle]="false"
  [titleColor]="'white'"
  [titleFontWeight]="'700'"
 ></circle-progress></div>

 <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center"><circle-progress 
  [percent]="100"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#1A73E8'"
  [innerStrokeColor]="'#90CAF9'"
  [animation]="true"
  [animationDuration]="1000"
  [showTitle]="true"
  [title]="'BOXICONS'"
  [showUnits]="false"
  [showSubtitle]="false"
  [titleColor]="'white'"
  [titleFontWeight]="'700'"
 ></circle-progress></div>

 
</div>


<h1 class="text-center display-4">METODOLOGÍAS</h1>

<div class="row ">  

 <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center"><circle-progress 
  [percent]="100"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'grey'"
  [innerStrokeColor]="'white'"
  [animation]="true"
  [animationDuration]="1000"
  [showTitle]="true"
  [title]="'RESPONSIVE'"
  [showUnits]="false"
  [showSubtitle]="false"
  [titleColor]="'white'"
  [titleFontWeight]="'700'"
 ></circle-progress></div>

 <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center"><circle-progress 
  [percent]="100"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'grey'"
  [innerStrokeColor]="'white'"
  [animation]="true"
  [animationDuration]="1000"
  [showTitle]="true"
  [title]="'PERFORMANCE'"
  [showUnits]="false"
  [showSubtitle]="false"
  [titleColor]="'white'"
  [titleFontWeight]="'700'"
 ></circle-progress></div>

 <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center"><circle-progress 
  [percent]="76"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'grey'"
  [innerStrokeColor]="'white'"
  [animation]="true"
  [animationDuration]="1000"
  [showTitle]="true"
  [title]="'ACCESSIBILITY'"
  [showUnits]="false"
  [showSubtitle]="false"
  [titleColor]="'white'"
  [titleFontWeight]="'700'"
 ></circle-progress></div>
 

 
</div>