
<div class=" background">
    <div class="row">
        <div class="col-12 d-flex flex-column align-items-center">
            <button (click)="btnClick();" class="boton1 boton">SOBRE MI</button>
            <button (click)="btnClick2();" class="boton2 boton ">HABIDADES</button>
            <button (click)="btnClick3();" class="boton3 boton">PROYECTOS</button>
        </div>
    </div>
    <button (click)="goHome();" class="boton4 boton"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAA0CAYAAADFeBvrAAAAAXNSR0IArs4c6QAAAQ5JREFUaEPtVtsRwjAMszdhBEaASWAT2ICRGM1c/vpDG9mxk+spd/3zS1JSS+VkR0+GRwhodUWpEBUqZoBXrphwuB0VgikrTqBCxYTD7Q4VMrOriHzgykkJqnrfK90D6CYi36T54LKqujszAcGUDk4YodBFRJ6D53KXU9V36A25O09KPHxDk+ZytyUgN3VFiVSoiGh3myEKmVn7rT/cUwCJYevT08vM2m549cRGY8KLtWcAAuph6U9MlULNkbcv/dD6pFOc3GDIbzt5Rqg8AUF0TQimQlHSozapxPogIKOuomSxElDAyK6oUMgm0fog72HFWO6hFVXZzkSFqFAxA7xyxYTD7agQTFlxwukU+gEpRjw1h+IzLwAAAABJRU5ErkJggg=="/></button>
    <app-name></app-name>
    

</div>