<div class="background">
    <button (click)="goHome();" id="close">X</button>

    <app-titulo3></app-titulo3>

    <div (click)="goPorfolio();" class="card-container" fxLayout="row wrap" fxLayoutGap="0.5em" fxLayoutAlign="center center" fxLayout.lt-sm="column">
        <div class="card" flex="25">
          <img src="https://firebasestorage.googleapis.com/v0/b/fdb-storage.appspot.com/o/images%2FPortafolio%20FDB.png?alt=media&token=f70e1604-8e95-4f44-9c5a-c0fa89da5a62" alt="Portafolio-FDB">
          <div class="card-content">
            <h2  class="card-title">Mi portafolio</h2>
            <h3 class="card-subtitle">Puedes ver aquí el desarrollo de mi pagina web...</h3>
          </div>
        </div>
      </div>
    
</div>