<div class="background">
    <button (click)="goHome();" id="close">X</button>

    <app-titulo3></app-titulo3>

    <div class="card-container" fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="center center" fxLayout.lt-sm="column">
        <div class=" card" flex="25">
          <img src="https://picsum.photos/150/150" alt="Card image" class="card-img">
          <div class="card-content">
            <h2 class="card-title">Mi portafolio</h2>
            <h3 class="card-subtitle">Puedes ver aquí el desarrollo de mi pagina web...</h3>
          </div>
        </div>
      </div>
    
</div>