<div class="background animate__animated animate__fadeIn">
  <button (click)="goHome();" id="close">X</button>

  <app-titulo3></app-titulo3>

  <div class="card-container">
    <!-- Tarjeta del portafolio -->
    <div (click)="goPorfolio();" class="card" autofocus tabindex="0">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/fdb-storage.appspot.com/o/images%2FPortafolio-FDB.webp?alt=media&token=9e8fac9d-c2d4-4f8b-b145-22daf03c18b3&_gl=1*1blqx6u*_ga*NTc2ODgxMjY0LjE2ODQxNjkwNTg.*_ga_CW55HF8NVT*MTY4NTc0NzUxMi4xMC4xLjE2ODU3NDc5ODEuMC4wLjA."
        alt="Portafolio-FDB">
      <div class="card-content">
        <h2 class="card-title">Mi portafolio</h2>
        <h3 class="card-subtitle">Puedes ver aquí el desarrollo de mi página web...</h3>
      </div>
    </div>

    <!-- Tarjeta del restaurante -->
    <div (click)="goRestaurante();" class="card" autofocus tabindex="0">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/fdb-storage.appspot.com/o/images%2FCocinero.webp?alt=media&token=13020264-a83a-4930-af67-297a21318fb5&_gl=1*10wfang*_ga*NTc2ODgxMjY0LjE2ODQxNjkwNTg.*_ga_CW55HF8NVT*MTY4NTc0NzUxMi4xMC4xLjE2ODU3NDc5NTIuMC4wLjA."
        alt="restaurante-web">
      <div class="card-content">
        <h2 class="card-title">restaurante</h2>
        <h3 class="card-subtitle">Puedes ver aquí el desarrollo de mi página web...</h3>
      </div>
    </div>

    <!-- Tarjeta de la administracion de articulos -->
    <div (click)="goArticles();" class="card" autofocus tabindex="0">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/fdb-storage.appspot.com/o/images%2FArticles.webp?alt=media&token=4c9cd3de-c2ca-4e98-999e-b61b29b030b3&_gl=1*1cl4mp2*_ga*NTc2ODgxMjY0LjE2ODQxNjkwNTg.*_ga_CW55HF8NVT*MTY4NTc0NzUxMi4xMC4xLjE2ODU3NDc4OTMuMC4wLjA."
        alt="articles-web">
      <div class="card-content">
        <h2 class="card-title">Administracion de articulos</h2>
        <h3 class="card-subtitle">Puedes ver aquí el desarrollo de mi página web...</h3>
      </div>
    </div>
  </div>


</div>