.background {
    background-size: contain;
    background-position: center;
    z-index: -1;
    overflow: hidden ;
    border: solid rgb(5, 3, 17) 4px;
    background-color: rgb(22, 22, 22);
    border-radius: 20px;
    position: absolute;
    width: 95%;
    height: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

button {
    user-select: none;
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center
}

button:hover {
    cursor: pointer;
    border-radius: 10px;
}

button:focus {
outline-color: yellow;
}

#close{
    position: absolute;
    top: 10px;
    right: 10px;
    background: linear-gradient(0deg, #000, #272727);
    border-radius: 20px;
}

#close:hover{
    background-color: red;

}

  
#close:before, #close:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
      #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    border-radius: 20px;
    animation: steam 20s linear infinite;
  }   

  @keyframes steam {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  #close:after {
    filter: blur(50px);
  }
  #close:hover:before, #close:hover:after {
    background: linear-gradient(45deg, #ffff00,#ff0000,#ffbb00,#ff3300 );
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
}