audio{
    position: absolute;
    right: 0%;
    bottom: 0%;
    
}

audio {
    margin: 0;
    padding: 1;
    border: 0;
    font-size: 100%;
    font: inherit;
  }
  audio {
    width: 4.5rem;
  }
  audio::-webkit-media-controls-enclosure {
    max-width: none;
    
  }
  audio::-webkit-media-controls-panel {
    background-color: transparent
  }
  audio::-webkit-media-controls-play-button {
    
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAAAXNSR0IArs4c6QAAAQFJREFUSEvtlAENwkAMRd8UgANwAA4ABzgACUgABSABJKAAUAASsIAD8pONdGO3Xe4uy0JosmRbe/1t7/dndGRZRzj8gXwmvQEGJvAEPO3o1sDIJ1NNzA24AlPgXvEv5LNACpwFAu2ALTAHLnkO/ZMdqx0d8opCsJRMjwUqES016/oFlPqOnKPrDCiEBNUz/boj0Xvi0ZYW0JqUQOfG2hdAiy+LviOb4NFQnBNIlaiqNpMCyNTJviE42cJKCVYhQBJEq7quHBLQQsNcQC9gaBOEiGpxpml0Z2CZCkh56sigbrRP8n0sVlQ1HpFD1etd6qLvEsgX19voFuOP7cgb+/eA3pdOLRvksWYwAAAAAElFTkSuQmCC) 50% 50% no-repeat;
  }
  audio::-webkit-media-controls-mute-button,
  audio::-webkit-media-controls-timeline,
  audio::-webkit-media-controls-volume-slider-container,
  audio::-webkit-media-controls-timeline-container,
  audio::-webkit-media-controls-volume-slider-container, 
  audio::-webkit-media-controls-volume-slider, 
  audio::-webkit-media-controls-overflow-menu-button,
  audio::-webkit-media-controls-seek-back-button,
  audio::-webkit-media-controls-seek-forward-button,
  audio::-webkit-media-controls-fullscreen-button,
  audio::-webkit-media-controls-rewind-button,
  audio::-webkit-media-controls-return-to-realtime-button,
  audio::-webkit-media-controls-toggle-closed-captions-button{
    -webkit-appearance: none;
    display: none;
  }
  audio::-webkit-media-controls-current-time-display,
  audio::-webkit-media-controls-time-remaining-display {
    color: #1e140d
  }
