
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-5">
                <div class="card-body">
                    <h4 class="card-title text-center">
                        Reproductor de audio
                    </h4>
                    <div class="text-center">
                        <audio id="audio" controls>
                            <source="https://firebasestorage.googleapis.com/v0/b/fdb-storage.appspot.com/o/killzone%203%20theme(128K).mp3?alt=media&token=9c356f2b-5d7d-47a1-8298-2043cc5013cd"
                                type="audio/mpeg">
                                Tu navegador no soporta el audio
                        </audio>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>