<div class="container pt-5">
    <div class="row">
    <form><div class="mb-3">
    <label for="name" class="form-label subtitulo">Nombre</label>
    <input type="text" class="form-control animated-border" id="name" placeholder="Escribe tu nombre">
    </div>
    <div class="mb-3">
    <label for="email" class="form-label subtitulo">Email</label>
    <input type="email" class="form-control animated-border" id="email" placeholder="Escribe tu email">
    </div>
    <div class="mb-3">
    <label for="message" class="form-label subtitulo">Mensaje</label>
    <textarea class="form-control animated-border" id="message" rows="3" placeholder="Escribe tu mensaje"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    </div>
   </div>
   