<div class="card">
    <div class="card-content">
        <div class="card-title">EDUCACIÓN PRIMARIA Y SECUNDARIA: BACHILLER EN EDUCACIÓN FÍSICA</div>
        <div class="card-subtitle"> Colegio Nuestra Señora de la Consolata (2006-2018)</div>
    </div>
</div>
<div class="card">
    <div class="card-content">
        <div class="card-title">EDUCACIÓN PRIMARIA Y SECUNDARIA: BACHILLER EN EDUCACIÓN FÍSICA</div>
        <div class="card-subtitle"> Colegio Nuestra Señora de la Consolata (2006-2018)</div>
    </div>
</div>

<div class="card">
    <div class="card-content">
        <div class="card-title">INSTITUTO GASTRONÓMICO IGA:</div>
        <div class="card-subtitle">‘CURSO’ « Chef Express » (2021)</div>
    </div>
</div>
<div class="card">
    <div class="card-content">
        <div class="card-title">ARGENTINA PROGRAMA :</div>
        <div class="card-subtitle">Developer web FRONT-END</div>
    </div>
</div>