<div class="row ">  

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center"><circle-progress 
     [percent]="100"
     [radius]="100"
     [outerStrokeWidth]="16"
     [innerStrokeWidth]="8"
     [outerStrokeColor]="'grey'"
     [innerStrokeColor]="'white'"
     [animation]="true"
     [animationDuration]="1000"
     [showTitle]="true"
     [title]="'RESPONSIVE'"
     [showUnits]="false"
     [showSubtitle]="false"
     [titleColor]="'white'"
     [titleFontWeight]="'700'"
    ></circle-progress></div>
   
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center"><circle-progress 
     [percent]="100"
     [radius]="100"
     [outerStrokeWidth]="16"
     [innerStrokeWidth]="8"
     [outerStrokeColor]="'grey'"
     [innerStrokeColor]="'white'"
     [animation]="true"
     [animationDuration]="1000"
     [showTitle]="true"
     [title]="'PERFORMANCE'"
     [showUnits]="false"
     [showSubtitle]="false"
     [titleColor]="'white'"
     [titleFontWeight]="'700'"
    ></circle-progress></div>
   
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center"><circle-progress 
     [percent]="76"
     [radius]="100"
     [outerStrokeWidth]="16"
     [innerStrokeWidth]="8"
     [outerStrokeColor]="'grey'"
     [innerStrokeColor]="'white'"
     [animation]="true"
     [animationDuration]="1000"
     [showTitle]="true"
     [title]="'ACCESSIBILITY'"
     [showUnits]="false"
     [showSubtitle]="false"
     [titleColor]="'white'"
     [titleFontWeight]="'700'"
    ></circle-progress></div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center"><circle-progress 
        [percent]="23"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'grey'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="1000"
        [showTitle]="true"
        [title]="'SEO'"
        [showUnits]="false"
        [showSubtitle]="false"
        [titleColor]="'white'"
        [titleFontWeight]="'700'"
       ></circle-progress></div>
   </div>